<div class="biu-nav-email"
     style="max-width: 600px;min-width: 300px;margin: 40px auto;box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);font-size: 16px;padding: 20px;background-image: linear-gradient(to right, <%= style.color1 %> 0%, <%= style.color2 %> 100%);border-radius: 5px;color: #fff;">
    <h3 style="margin-bottom: 40px;">
        <%= title %>
    </h3>
    <p style="padding-left: 20px;">
        <%= content %>
    </p>
</div>
